@use '@/stylesheets/variables' as var;
@use '@/stylesheets/mixins' as mix;

.signIn {
  @include mix.DefaultButton(darkblue);
  font-weight: var.$regular;
  text-decoration: none;
  width: 100%;
}

.signOut {
  @include mix.DefaultButton(red);
  font-weight: var.$regular;
  width: 100%;
}

.wrapper {
}
