@use '@/stylesheets/variables' as var;
@use '@/stylesheets/mixins' as mix;

.container {
  gap: 1rem;
  display: none;
  margin-top: 11.625rem;
  flex-direction: column;
}

.statusHeadingWrapper {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.statusHeading {
  font-weight: var.$bold;
  color: var.$marian-blue;
  font-size: var.$font-18;
  letter-spacing: var.$letter-spacing-minus-0-25;
}

.description {
  font-size: var.$font-13;
}

@media (width <= var.$breakpoint-762) {
  .container {
    display: flex;
  }
}
