//Black Tonalities
$night: hsl(210, 6%, 6%);

//Pink Tonalities
$blush: hsl(346, 77%, 61%);

//Orange Tonalities
$atomic-tangerine: hsl(14, 83%, 74%);

//Red Tonalities
$poppy: hsl(0, 67%, 53%);
$light-coral: hsl(0, 69%, 72%);

//Purple Tonalities
$phlox: hsl(282, 90%, 66%);
$veronica: hsl(282, 83%, 52%);
$blue-violet: hsl(274, 91%, 59%);

//Gray Tonalities
$gunmetal: hsl(210, 12%, 16%);
$glaucous: hsl(224, 20%, 49%);
$periwinkle: hsl(230, 100%, 91%);
$ultra-violet: hsl(231, 25%, 52%);

//White Tonalities
$seasalt: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);
$lavender: hsl(230, 86%, 97%);
$ghost-white: hsl(231, 100%, 97%);
$antiflash-white: hsl(230, 60%, 98%);

//Blue Tonalities
$maya-blue: hsl(204, 94%, 68%);
$savoy-blue: hsl(230, 76%, 59%);
$delft-blue: hsl(230, 31%, 31%);
$vista-blue: hsl(230, 89%, 74%);
$marian-blue: hsl(231, 33%, 34%);
$picton-blue: hsl(201, 85%, 54%);
$cornflower-blue: hsl(230, 91%, 73%);

//Transparent Colors
$transparent-black-50: hsla(0, 0%, 0%, 50%);
$transparent-white-75: hsla(231, 87%, 97%, 75%);
$transparent-glaucous-10: hsla(224, 20%, 49%, 10%);
$transparent-lavender-75: hsla(230, 86%, 97%, 75%);
$transparent-cool-gray-25: hsla(231, 20%, 63%, 25%);
$transparent-savoy-blue-25: hsla(230, 76%, 59%, 25%);
$transparent-delft-blue-35: hsla(230, 31%, 31%, 35%);
$transparent-marian-blue-50: hsla(231, 33%, 34%, 50%);
$transparent-marian-blue-15: hsla(231, 33%, 34%, 15%);
