@use 'colors' as clr;

//Transitions
$ease200ms: ease 200ms;
$ease500ms: ease 500ms;
$ms800: 800ms;

//Media Queries Breakpoints
$breakpoint-1600: 1600px;
$breakpoint-1245: 1245px;
$breakpoint-1000: 1000px;
$breakpoint-762: 762px;

//Paddings
$padding-24: 1.5rem;
$padding-40: 2.5rem;
$padding-56: 3.5rem;
$padding-94: 5.875rem;
$padding-113: 7.063rem;
$padding-116: 7.25rem;
$padding-129: 8.06rem;
$padding-154: 9.625rem;
$padding-165: 10.313rem;
$padding-285: 17.813rem;

//Box Shadows
$box-shadow: 0rem 0.625rem 2.5rem -0.438rem clr.$transparent-delft-blue-35;
